/* This is the main stylesheet for the site */
/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Override browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set global styles */
body {
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic font for the site */
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    line-height: 1.5;
    color: #242323;
}

/* Header */
header {
    background-color: rgb(43, 50, 24, 0.8);
}

/* Main */
main {
    background-color: lightblue;
    /* Make main take up all available space and push footer to bottom */
    flex: 1 0 auto;
    }

/* Footer */
footer {
    background-color: rgb(43, 50, 24, 0.8);
    
}